/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(120deg, #fffde7, #fff9c4, #fff);
    color: hsl(189, 94%, 54%);
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eec41b;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    color: rgb(190, 128, 128);
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-links a:hover {
    color: #2c3e50;
}

/* Main Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

/* Contact Form */
.contact-section {
    background: white;
    border: 3px solid #f1c40f;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    text-align: center;
    color: #f39c12;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f39c12;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 90px;
}

.btn-submit {
    width: 100%;
    background: #f39c12;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-submit:hover {
    background: #f1c40f;
}

/* To-Do Section */
.todo-section {
    background: white;
    border: 3px solid #f1c40f;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(60, 158, 229, 0.1);
}

.todo-section h2 {
    text-align: center;
    color: #f39c12;
    margin-bottom: 15px;
}

.todo-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#addTaskBtn {
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background: #f1c40f;
}

#taskList {
    list-style: none;
}

#taskList li {
    background: #fffde7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f6fb61;
}

.delete-btn {
    background: #41dff0;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
